
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



nav{
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  padding: 10px 40px 10px 70px;
  border: 1px solid red;
  border-left: none;
  border-right: none;
}


nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}


nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  color: white;

}


nav ul div.items a:hover{
  color: cyan;
}

nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;

}

nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  background: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}

nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}


@media screen and(max-width:1052px) {
  nav{

    padding: 10px 40px 10px 0px;

  }

  nav ul li.logo{
    display: none;
  }

  nav ul div.items{

    flex: 4;

  }
  
}