
<nav>
  <ul>
    <li class="logo"><a href="/" style="text-decoration: none; color: white;">Watch-Dog </li>
    <div class="items">
      <li class=" ">
        <a class="" href="/">Business</a>
      </li>
      <li class="">
      Neighborhoods
      </li>
      <li class="">
        Profile
        </li>
    </div>



  <form class="form" role="search" action="#">
    <li class="search-icon">

      <input type="search" placeholder="search projects" name="project" id="">
      
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search" style="background: white; border-radius: 50px;"></i></button>
      </div>
   
    </li>

     </form>
  </ul>
</nav>