

<nav>
  <ul>
    <li class="logo">Watch-Dog </li>
    <div class="items">
      <li class=" ">
        <a class="" routerLink ="/landing">posts</a>
      </li>
      <li class=" ">
        <a class="" routerLink ="/business">Business</a>
      </li>
      <li class=" ">
        <a class="" routerLink ="/hood">Hoods</a>
      </li>
    </div>



  
  </ul>
</nav>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let hood of HoodList">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">hood {{hood.id}} <p class="text-center">{{hood.name}}</p></div>
        <div class="card-body">
          <h5 class="card-title">{{hood.location}}</h5>
          <p class="card-text">police contact {{hood.police_contact}}</p>
          <p class="card-text">police contact {{hood.health_contact}}</p>
          <p class="card-text">Population {{hood.occupants_count}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
